@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
.jellohorizontal{animation:jello-horizontal .9s both}
.homePageMainDiv video
{
    max-height: 100vh;
    max-width: 100vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    
}
.homePageMainDiv
{
    height: 100vh;
    overflow: hidden auto;
    margin-top: 4px;
}
.homePageMainDiv::-webkit-scrollbar{
    display: none;
}
.video-overlay-text
{
    top:33%;
    width: 99%;
    backdrop-filter: saturate(0.5);
}
.video-overlay-text button
{
    text-align: center;
    color: black;
}
.video-overlay-text p
{
    font-size: 25.84px;
    text-align: center;
    color: white;
}
.video-overlay-text h1
{
    font-size: 80px;
    margin-top: -18px;
    max-width: 100%;
    text-align: center;
    line-height: 78px;
    color: white;
}
.watch-button-class
{
    border-style: hidden;
    border-radius: 15px;
    color:#1f1f1f;
}
.collectionHeading
{
    font-size:19px;
    font-weight: 700;
}

.items
{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: all 1s;
}
.items:hover
{
   transform: scale(1.2);
   /* box-shadow: 10px 10px 10px grey; */
   
}
.items:hover p
{
  text-decoration: underline;
  /* text-shadow: 10px 10px 10px greenyellow; */
   
}
.items img
{
    width: 200px;
    height: auto;
}
.shadow-drop-br {
	
}
.productStoryDiv
{
    background-image:url("https://www.moooi.com/_next/image?url=https%3A%2F%2Fcdn.moooi.com%2Fassets%2FCollection%2FWallcovering%2FGreenhouse%20Gathering%2FJPG%2FGreenhouseGathering_Arch_ForrestGreen.jpg&w=3840&q=80");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.productStoryDiv .para1
{
    font-size: 21px;
    color: #fffc;
    position: relative;
    top: 30%;
}
.productStoryDiv .para2
{
    font-size: 55px;
    color: white;
    line-height: 48px;
    position: relative;
    top: 30%;
    margin-bottom: 0px;
}
.productStoryDiv button
{
    background: transparent;
    border: hidden;
    font-size: 13px;
    text-decoration: underline;
    letter-spacing: 3px;
    /* margin-top: 45px; */
    color: #dddd66;
    position: relative; 
    top: 37%;
}

.bioimage
{
  max-height: 750px;
  object-fit: cover;
  width: 100%;
}
/* .bioimage2
{
  max-height: 650px;
  object-fit: cover;
  width: 100%;
} */
.cardView .card1
{
    background-color: rgb(227, 217, 198) !important;
    
}
.cardView .card2
{
    background-color: rgba(128, 128, 128, 0.257);
}



.biodesc .para1
{
    font-size: 21px;
    color: #1f1f1f;
    position: relative;
    font-weight: 500;
    /* top: 30%; */
}
.biodesc .para2
{
    font-size: 69px;
    color: #1f1f1f;
    line-height: 58px;
    position: relative;
    font-weight: 500;
    margin-top: 23px;
    /* top: 30%; */
}


.biodesc button
{
    background: transparent;
    border: hidden;
    font-size: 13px;
    text-decoration: underline;
    letter-spacing: 1px;
    margin-top: 25px;
    color: #1f1f1f;
    position: relative; 
    /* top: 37%; */
}

.whiteBackground
{
    background-color: rgb(255, 255, 255) ;
    transition: all 2s;
}

/* productDescription page */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: pre-line; /* Allows the text to break into multiple lines */
    margin: 0 auto; /* Centers the text */
    letter-spacing: .15em; /* Adjust as needed */
    border-right:1px solid grey;
}

.typewriter {
    overflow: hidden; /* Ensures each paragraph's text is not revealed until the animation */
    display: inline-block; /* Ensures each paragraph animates line by line */
    white-space: pre-line; /* Allows the text to break into multiple lines */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: grey; }
  }